* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-div {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap; 
    max-width: 1200px; 
    height: 100vh;
    background: blue;
    margin: 0 auto;
    color:white;
}

.flex-div div {
    background: violet;
    flex: 1 1 300px;
    height: 300px;
}

.flex-div div:nth-child(1) {
    background: red;
    flex: 1 1 100px;
}