* {
    margin: 0;
    padding:0;
}

.gridblock .col {
    display: block;
    width: 15px;
    height: 15px;
    background: red;
    margin: 2px;

}

.gridinlineblock .col {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: blue;
}

/*p {
    clear: both; 
}
Isso faria com que ambos os lados dir/esq do P seriam limpos antes de qualquer coisa, assim, ele nao entraria no espaco que estava sobrando da grid anterior, pois teria alguma coisa "sujando", no caso, a propria grid. Assim ele passa pra proxima linha onde suas laterais nao tem nada, estao limpas.*/

.alinharblock::after {
    content: "";
    display: block;
    clear:both;
}

/*O comando assim, CRIA um content vazio logo depois da grid e esse elemento da CLEAR em ambos os lados ja forcando a limpar os dois lados da grid que ele se encontra*/

.alinharblock {
    box-sizing: border-box;
    padding: 15px;
    background: blue;
}

.alinharblock .col {
    width: 33.33%; /*3 colunas*/
    height: 300px;
    background: green;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    float: left; /*e com isso faz com que as margens nao se colidam mais, pois cada elemento tera SEU espaco necessario e o resto sera liberado para qualquer outro elemento*/
}

.alinharblock .col .col-content {
    background: red;
    width: 100%;
    height: 100%;
}


