* { 
    margin: 0;
    padding:0;
    box-sizing: 0;
}

.two-col {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column; /*Mudando o eixo main para vertical*/
    background: lawngreen;
    margin: 15px;
    padding:30px
}

.gallery {
    display: flex;    
    flex-flow: row wrap;
}

.gallery .img {
    display: flex;
    flex: 1 0 20%;
    height: 50px;
    background: blue;
    margin: 5px;
}

P {
    margin-bottom: 24px;
}