* {
    margin: 0;
    padding: 0;
}

/*Seletor de irmaos adjacentes. Seleciona todo elemento que estiver diretamente adjacente ao elemento escolhido.*/
.pai h1+p {
    color: red;
}

.pai h2+h1 {
    color:blue
}
/*----------------------------------------*/

/*Seletor de irmaos posteriores em geral. Seleciona todos elementos X que estiver logo depois ao elemento escolhido Y. Exemplo:.pai Y~X {}*/
.pai h1~h2 {
    color: greenyellow;
}