/* ESPECIFICIDADE
ID > Classes, Atributos e Pseudo-classes > Elementos e pseudo-elementos
*/

#pid { /*Selector Specificity (1,0,0)*/
    background-color: red;
}

.pcl { /*Selector Specificity (1,0,0)*/
    background-color: yellow;
}

/*Nesse caso acima, mesmo a classe estando embaixo, o ID tem maior especificidade e ira sobresair sobre o comando da classe, ficando com background vermelho.*/

#pid { /*Selector Specificity (1,0,0)*/
    background-color: red;
}

#pid.pcl { /*Selector Specificity (1,0,0)*/
    background-color: yellow;
}

/*No caso acima, a especificidade do comando debaixo eh 110, passando a especificidade do ID sozinho que eh 100, assim o background fica*/

#pid { /*Selector Specificity (1,0,0)*/
    background-color: red;
}

#pid.pcl { /*Selector Specificity (1,0,0)*/
    background-color: yellow;
}

p#pid.pcl {
    background-color: green;
}    

body#b p#pid.pcl { /*Especificidade muito alta (212).*/ 
    background-color: turquoise;
}    


/*Especificidade é o quao especifico um comando esta sendo, quando mais especifico, mais sera sua especificidade e mais dificil de perder o estilo pra outra especificidade*/

/*
STYLE - Lembrando que a tag/atributo STYLE, é muito mais especifico que qualquer um desses exemplos acima, ou seja, uma tag <style> ou atributo style="" no codigo, vai sobrescrever qualquer regra dessas acimas.

IMPORTANT: Acima de qualquer outra regra, esta o comando !important que forçara o navegador a executar o comando que esta no important  
*/ 


/*IMPORTANT EXEMPLO - Terceiro paragrafo tem uma tag style dentro dele, mas nao sera executada pois terei um !important aqui*/
#pid.pcl { /*Selector Specificity (1,0,0)*/
    background-color: yellow;
}

p#pid.pcl {
    background-color: green;
}    

body#b p#imp.imp { /*Especificidade muito alta (212).*/ 
    background-color: turquoise;
}    

.imp {
    background: violet !important;
}

/*No exemplo acima, vemos um terceiro paragrafo com background de especificidade 212, um style dentro do elemento e mesmo assim, a classe imp é executada poisi tem o comando !important dentro dela*/