* { 
    margin: 0;
    padding:0;
    box-sizing: 0;
}

.flex-container-main-axis-x {
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap; /* Atalho pra flex direction e wrap no mesmo comando*/
    background-color: yellow;
    height: 800px;
    
}
.flex-item-x {
    flex-grow: 1; /*Proporcao do espaco sobrando*/
    flex-basis: 320px; /*Tamanho base/minimo do elemento na linha*/
    flex-shrink: 0; /*Nao deixa o elemento diminuir menos que o flex-basis. =1 ele permite*/
    height: 200px;
    color: white;
    background-color: red;
    /*Ou podemos passar os comandos flex's todos, como um so comando "flex":
        flex: 1 0 320px;
        1' zero = grow
        2' zero = shrink
        3' zero = basis
    */
}

.flex-item-x:nth-child(2) {
    flex: 10 1 320px;
    background-color: purple;
}