* {
    margin: 0;
    padding: 0;
}

/*Selector de atributos que o user pode ter criado e atributos do proprio html*/
[meu-atributo="valor"] { /*USER*/
    color: red;
}

[checked] {   /*PADRAO*/
    height: 50px;
    width: 50px;
}