* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.grid {
    max-width: calc(1000px + 200px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    /*gap: 30px 80px;*/
}

.grid div {
    background: darkviolet;
    min-height: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.grid div:nth-child(5) {
    background: green;
}