/*Propriedades para textos*/

p {
    /*color: red;
    background-color: pink;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    direction:ltr; /*lrt=left to right rtl=right to left
    letter-spacing: 5px; /*Espaco entre letras
    line-height: 30px; /*Altura da linha
    word-spacing: 50px; /*Espaco entre palavras
    line-height: 30px; Altura da linha */
    text-align: left;
    /*text-decoration: overline line-through; (underline,linethrough, etc)*/

text-indent: 50px; /*Indentacao*/
text-shadow: 5px 5px 2px grey; /* Esq/-Dir  Bot/-Top  Blur  Cor*/
text-transform: lowercase; /*uppercase,capitalize, etc...*/
}